---
---
@font-face {
  font-family: ahme;
  src: url(/assets/DMSans-Regular.ttf);
}

body, article {
 background-color: #c9f0f0 !important;
}

.card {
 border: 1px solid #000;
}

.card > header { 
 border-bottom: 1px solid #000;
}

.twitter-timeline {
  width: 100% !important;
  height: 100% !important;
  border: 1px solid #e5e5e5 !important;
}

a {
  color: #000;
}

* {
  font-family: ahme, Verdana, serif;
}

.jumbo > * {
  text-align: center;
  font-size: 0.8em;
  padding: 0 0 5px;
}

.jumbo > h1 {
  font-size: 3em;
}

.category-name {
  text-align: center;
}

#main {
  max-width: 960px;
  margin: auto;
  margin-top: 64px;
}

#menu-toggle-label {
  display: none;
}

.card {
  min-height: 188px;
}

@media only screen and (max-width: 1000px) {

  #main {
    margin: -12px;
    padding: 32px;
  }

  aside > * {
    display: inline;
    vertical-align: top;
  }

  #menu-toggle-label {
    display: block;
    float: right;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked + #menu {
    max-height: 500px;
  }

  #menu {
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0 auto;
    background-color: #eeeeee;
  }

  .card {
    width: 100%;
    min-height: 136px !important;
  }
}

.hvr-fade:hover, .hvr-fade:active, .hvr-fade:focus {
  background-color: #000;
  color: #000;
  z-index: 1000;
}

.hvr-fade:hover a, .hvr-fade:active a, .hvr-fade:focus a {
  color: #000;
}

