<!DOCTYPE html>
<html lang="en-AU">
<head>
    <style>
        body {
            opacity: 0;
        }
    </style>
    <script>
        window.onload = function () {
            setTimeout(function () {
                document.body.style.opacity = "100";
            }, 10);
        };
    </script>
    <link rel="stylesheet" href="{{ "/assets/css/picnic.min.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/hover-min.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="icon" href="{{ site.logo }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <section id="main" class="flex one three-1000">
        <article class="full">
            {{ content }}
        </article>
    </section>
</main>
</body>
</html>
