---
layout: default
---

<header class="jumbo">
    <h1>{{ site.title }}</h1>
<div>
<!--
I am passionate about creating content for the music, travel, and lifestyle industries.

Need help with content marketing, blog writing, or editing? 
<br/>
<b>I would love to hear from you!</b>

<a href="mailto:hello@amberhall.me" style="text-decoration:underline">hello@amberhall.me</a>
</div>
-->
</header>

{% for category in site.data.articles.categories %}
<h3>{{ category.name }}</h3>
<div class="flex three-1000 two-800 one-500">
    {% for articleid in category.articles %}
    {%- assign reference = "/articles/" | append: articleid -%}
    {%- for article in site.articles -%}
    {%- if article.id == reference -%}
    <a href="{{ article.source }}" style="cursor:pointer;">
        <div>
            <article class="card hvr-fade hvr-grow-shadow">
                {%- assign client = site.clients | where: "id", client_id -%}
                <header>
                    {{ article.title }}
                </header>
                <footer>
                    <div>{{ article.year }}</div>
                    <div>{{ article.client }}</div>
                </footer>
            </article>
        </div>
    </a>
    {%- endif -%}
    {%- endfor -%}
    {% endfor %}
</div>
{% endfor %}
